<div class="container spacer">
    <div class="card">
      <div class="card-header bg-info">Région</div>
      <div class="input-group col-sm-5 spacer">
          <input  [(ngModel)]="motCle" type="text" class="form-control" placeholder="Recherche par nom de la région"/>
          <div class="input-group-append">
            <button (click)= 'chercher()' class="btn btn-secondary" type="button">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <table class="table table-striped">
            <tr>
              <th>NOM</th><th>Langue</th> <th>Pays</th>
            </tr>
            <tr *ngFor="let item of pageArea" >
              <td>{{item.areaLabel}}</td>
              <td>{{item.areaLanguage.languageName}}</td>
              <td>{{item.areaCountry.codeIso}}</td>
            </tr>
          </table>
      </div>
    </div>


    <nav aria-label="Page navigation example spacer">
        <ul class="pagination">
            <li class="numberPagination" *ngIf="nombreTotalDepagePagination>1" >{{currentPage+1}} / {{nombreTotalDepagePagination+1}} </li>
            <li *ngIf="nombreTotalDepagePagination>1"  [ngClass]="{disabled: currentPage == 0}" class="page-item"><a (click)="prevPage()" class="page-link" >❮  </a></li>
            <!-- <li [ngClass]="{active: i == currentPage}"  *ngFor="let p of pages; let i = index" class="page-item">
              <a (click)="goToPage(i)"  class="page-link">{{i+1}}</a>
            </li> -->

            <li *ngIf="nombreTotalDepagePagination>1" [ngClass]="{disabled: currentPage == nombreTotalDepagePagination}" class="page-item "><a (click)="nextPage()" class="page-link" >  ❯</a></li>
          </ul>
      </nav>
  </div>



